// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


//
// Color system
//

$primary: #000002;

$grey: #5C5C5C;
$white: #FFFFFF;
$red: #FA2A2A;
$green: #011F05;


$dark-grey: #212121;
$text-grey: #828282;

$light-red: rgba(250,42,42,0.1);
$text-light-grey: #CCC5C5;
$placeholder-grey: #9B9C9D;
$product-text-grey: #929AAD;
$product-border-grey: #F3F3F5;

$transparent-grey-15: rgba(255,255,255,0.15);
$transparent-grey-25: rgba(255,255,255,0.25);


