#featured-section {
    .block {
        display: inline-block;
    }
}

#product-section {
    h1 {
        text-align: center;
    }
}

@import './components/general';
@import './components/header';
@import './components/carousel';
@import './components/about_section';
@import './components/featured_section';
@import './components/product_section';
@import './components/contact_section';
@import './components/footer';

