#about-section {
    padding-top: 120px;
    padding-bottom: 90px;
    .img-side {
        position: relative;
    }
    .image-wrapper {
        background-color: $dark-grey;
        height: 520px;
        width: 360px !important;
        margin: auto;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
        h5 {
            opacity: .5;
            font-style: italic;
            font-weight: 100;
            position: absolute;
            bottom: 0;
            left: 25%;
        }
    }
    .content-text {
        padding-left: 100px;
    }
}

@media (max-width: 992px) {
    #about-section .content-text {
        padding: 50px 50px 0 50px;
        text-align: center;;
    }
    #about-section .image-wrapper h5 {
        display: none;
    }
}