.carousel-item {
    img {
        max-height: 630px;
        object-fit: cover;
    }
    .carousel-caption {
        width: 100%;
        text-align: left;
        right: 0;
        left: 0;
        top: 15%;
        .vertical-line {
            position: relative;
            padding: 0 30px;
            max-width: 400px;
            &:before {
                content: "";
                position: absolute;
                width: 2px;
                height: 80%;
                bottom: 10%;
                left: 0;
                background-color: red;
                visibility: visible !important;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
        }
    }
}

#mainCarousel {
    .carousel-control {
        justify-content: center;
        width: 51px;
        height: 51px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        background: $transparent-grey-15;
        font-size: 25px;
        z-index: 1000;
        border: 1px solid $transparent-grey-25;
    }
     .carousel-control-prev {
        border-radius: 0px 3px 3px 0px;
    }
    .carousel-control-next {
        border-radius: 3px 0px 0px 3px;
    }
}

