#contact-section {
    padding-top: 120px;
    padding-bottom: 70px;
    position: relative;
    img {
        position: absolute;
        bottom: 0;
        left: -174px;
        z-index: 1;
        max-width: 1174px;
        object-fit: contain;
    }
    .contact-text {
        z-index: 2;
    }
    .form-section {
        background-color: $green;
        padding: 50px;
        text-align: center;
        max-width: 460px;
        form :nth-child(3) {
            margin: 30px 0;
        }
        form input,
        form textarea {
            height: 60px;
            background-color: $transparent-grey-15;
            border-radius: 3px;
            border: 1px solid $transparent-grey-25;;
        }
        form textarea {
            height: 150px;
        }
        input, textarea {
            &::placeholder {
              font-size: 14px;
              color: $placeholder-grey;
              text-transform: uppercase;
            }
        }
        form input[type="submit"] {
            background-color: transparent;
            text-transform: uppercase;
            color: $white;
            max-width: 120px;
            margin-top: 12px;
            border: 2px solid $transparent-grey-25;
        }
    }
}

@media (max-width: 1299px) and (min-width: 992px) {
    #contact-section img {
        max-height: 350px;
    }
}
@media (max-width: 992px) and (min-width: 767px) {
    #contact-section img {
        max-height: 250px;
    }
}

@media (max-width: 767px) {
    #contact-section img {
        display: none;
    }
}