#featured-section {
    padding-top: 105px;
    padding-bottom: 105px;
    color: $white;
    max-height: 540px;
    background-size: cover !important;
    background-position: center !important;
    h5 {
        color: $text-light-grey;
    }
    
    .block {
        background-color: $transparent-grey-15;
        min-width: 165px;
        min-height: 150px;
        border: 1px solid $transparent-grey-25;
        margin-top: 45px;
        margin-right: 25px;
        padding: 25px;
        text-align: center;
        h5 {
            color: $white;
        }
    }
}

@media (max-width: 767px) {
    #featured-section .block {
        min-width: 120px;
        min-height: 120px;
        margin-right: 10px;
        padding: 15px;

    }
}