#wrapper-footer {
   // background: linear-gradient(180deg, rgba(40,41,46,1) 0%, rgba(28,29,33,1) 30%, rgba(8,9,11,1) 100%);
    background: linear-gradient(135deg, #282A2F, #000000);
    padding-bottom: 15px;
    .site-footer {
        position: relative;
        h5 {
            color: $white;
            opacity: .5;
            font-weight: 300;
        }
    }
    #site-navigation {
        width: auto;
        box-sizing: content-box;
        position: absolute;
        top: -6px;
        right: 0;
    }
    #menu-footer-menu {
        text-align: right;
        .menu-item {
            display: inline-block;
            a {
                text-transform: uppercase;
                color: $text-grey;
                font-size: 14px !important;
                font-family: 'Roboto Condensed', sans-serif;
                letter-spacing: 1px;
                line-height: 16px;
                color: $white;
                opacity: .5;
            }
            &:last-child {
                margin-left: 30px;
                margin-right: 40px;
            }
        }
    }
    .copyright-text {
        text-transform: uppercase;
        color: $text-grey;
    }
}

@media (max-width: 992px) {
    #wrapper-footer #menu-footer-menu .menu-item a, #wrapper-footer .site-footer h5 {
        font-size: 10px!important;
        text-align: center;
    }
    #wrapper-footer #menu-footer-menu {
        text-align: center;
    }
    #wrapper-footer #site-navigation {
        position: relative;
        bottom: 0;
    }

}