.red {
    color: $red;
}

h1 {
    font-size: 48px !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    letter-spacing: normal;
    color: $white
}

h2 {
    font-size: 38px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: normal;
}

h3 {
    font-size: 28px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 38px;
    letter-spacing: 1px;
}

h4 {
    font-size: 20px !important;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    line-height: 30px;
    color: $dark-grey;
}

h5 {
    font-size: 14px !important;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    line-height: 16px;
    color: $white;
}

h6 {
    font-size: 12px !important;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 3px;
}

@media (max-width: 767px) {
    h1 {
        font-size: 38px !important;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        letter-spacing: normal;
        color: $white;
        text-align: center;
    }
    
    h2 {
        font-size: 28px !important;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        letter-spacing: normal;
        text-align: center;
    }
    
    h3 {
        font-size: 18px !important;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        line-height: 38px;
        letter-spacing: 1px;
        text-align: center;
    }
    
    h4 {
        font-size: 16px !important;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
        line-height: 30px;
        color: $dark-grey;
        text-align: center;
    }
    
    h5 {
        font-size: 14px !important;
        font-family: 'Roboto Condensed', sans-serif;
        letter-spacing: 1px;
        line-height: 16px;
        color: $white;
        text-align: center;
    }
    
    h6 {
        font-size: 12px !important;
        font-family: 'Roboto Condensed', sans-serif;
        letter-spacing: 1px;
        text-align: center;
    }
    
}