#wrapper-navbar {
    nav {
        height: 90px;
        padding: 0px 16px !important;
        #navbarNavDropdown {
            height: 100%;
        }
    }
    .navbar-brand.custom-logo-link {
        width: 96px;
    }
}
#main-menu {
    height: 100%;
    .menu-item {
        position: relative;
        padding: 20px 20px;
        margin: 0 5px;
        &:last-child {
            padding: 11px 20px;
          .nav-link {
            color: $white !important;
            border-radius: 3px;
            background-color: $grey;
            padding: 17px 32px;
            &:hover {
                background-color: $red;
            }
          }
          &:before {
            display: none;
            visibility: hidden;
        }  
        }
        .nav-link {
            text-transform: uppercase;
            font-size: 14px;
            color: $white;
            font-family: 'Roboto Condensed', sans-serif;
            opacity: .5;
            letter-spacing: 1px;
        }
        &:hover {
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 0;
                background-color: $red;
                visibility: visible !important;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                z-index: 5000;
            }
            .nav-link {
                color: $white;
                opacity: 1;
            }
        }
    }
    .menu-item.active {
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: $red;
            visibility: visible !important;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            z-index: 5000;
        }
        .nav-link {
            color: $white;
            opacity: 1;
        }
    }
    .menu-item.dropdown {
        .dropdown-menu {
            border-radius: 0;
            border: 1px solid $grey;
            background-color: rgba(255,255,255,0.15);
            width: 140x;
            min-width: 100%;
            top: 87px;
            .menu-item {
                padding: inherit;
                &:last-child {
                    background-color: transparent;
                }
                &:nth-child(2) {
                    &:before {
                        content: "";
                        position: absolute;
                        width: 90%;
                        height: 1px;
                        top: 0;
                        left: 8px;
                        background-color: $grey;
                        visibility: visible !important;
                        z-index: 5;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        width: 90%;
                        height: 1px;
                        bottom: -3px;
                        left: 8px;
                        background-color: $grey;
                        visibility: visible !important;
                        z-index: 5;
                    }
                }
                a {
                    font-size: 13px;
                    line-height: 15px;
                    text-align: left;
                    color: $white;
                    &:hover {
                        background-color: transparent;
                        cursor: pointer;
                    }
                }
            }
            
        }
        &:hover {
            .dropdown-menu {
                display: block;
            }
        }
        .dropdown-toggle.nav-link {
            &:after {
                display: none;
            }
        }
        
    }
}

// #wrapper-navbar nav #navbarNavDropdown {
//     background-color: $primary;
// }

// #main-menu .menu-item.dropdown .dropdown-menu .menu-item {
//     &::before {
//         background-color: transparent;
//     }
//     padding: inherit;
// }

@media (max-width: 767px) {
    #wrapper-navbar nav {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 500000;
        height: auto;
    }
    #main-menu .menu-item {
        padding: 0px 20px;
        &:last-child {
            padding: 0px 20px;
            .nav-link {
                padding-left: 0;
                background-color: $primary;
                opacity: .5;
                &:hover {
                    opacity: 1;
                    background-color: $primary;
                }
            }
           
        }
        &:hover {
            &::before {
                background-color: transparent;
            }
        }
    }

    #main-menu .menu-item.active {
        &::before {
            background-color: transparent;
        }
    }


    #main-menu .menu-item.dropdown {
        .dropdown-menu {
            display: block;
        }
    }
}

