#product-section {
    padding-top: 130px;
    padding-bottom: 100px;
    h2 {
        color: $dark-grey;
        text-align: center;
        padding-bottom: 62px;
    }
   .card {
       border: 1px solid $product-border-grey;
       border-radius: 3px;
       padding-top: 20px;
        -webkit-box-shadow: 0 10px 6px -6px rgba(0,0,0, .1);
        -moz-box-shadow: 0 10px 6px -6px rgba(0,0,0, .1);
        box-shadow: 0 10px 6px -6px rgba(0,0,0, .1);
       img {
        height: 100px;
        object-fit: none;
       }
       h4 {
        text-align: center;
       }
       h5 {
           color: $product-text-grey;
           text-align: center;
       }
       ul {
           padding-left: 0;
           li {
            list-style: none;
            color: $product-text-grey;
            img {
                height: 7.5px;
                padding-right: 7px;
                object-fit: cover;
            }
        }
       }
       ul.price {
           li {
            width: 45%;
            display: inline-block;
            font-size: 13px;
            color: $product-text-grey;
            position: relative;
            span {
                color: $dark-grey;
                font-size: 20px;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
            }
            a {
                font-size: 13px;
                color: $red;
                background-color: $light-red;
                border: 1px solid $light-red;
                border-radius: 17px;
                position: absolute;
                top: -32px;
            }
           }
       }
      
   }
}